@import "./base.css";

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  nav a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
/* My styles */
.content,
.content2 {
  color: #000000 !important;
}
.content ul {
  list-style-type: square;
  margin: 0 32px;
}
.myred {
  color: #ff3300;
}
.content ul li strong {
  color: #000000;
  display: block;
  font-weight: bold;
}
.content ul li {
  padding: 8px 0;
  font-size: 14px;
  text-transform: capitalize;
}
.h1 {
  color: #ff3300;
}
.content em {
  font-weight: bold;
  color: #000000;
  font-style: normal;
}
.content img {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content p {
  color: #000000;
  margin: 15px 0;
}
.content h2 {
  padding-top: 20px;
  color: #0b5394;
  font-weight: bold;
  font-size: 16px;
}
p a {
  border-bottom: #0764b1 1px solid !important;
  color: #0b5394;
}
p a:hover {
  color: #0764b1;
}
